* {
    margin: 0;
    padding: 0;
}

.head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 24, 24);
    padding-left: 10em;
    padding-right: 10em;
    color: white;
    /* box-sizing: border-box; */
    font-weight: 900;
}

.head1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head1 ul li {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

.head1 a {
    color: white;
    text-decoration: none;
    border-bottom: solid 1px;
}

.head1 ul li :hover {
    color: rgb(7, 7, 7);
}

.head1 ul li:hover {

    transform: scale(1.05);
    transition: 0.3s ease;

}





@media (max-width: 768px) {

    .head1,
    .search:nth-child(1),
    .favaccount,
    .navlist {
        display: none;
    }

    .mobilehead {
        background-color: rgba(228, 224, 223, 0.651);
        padding: 0 20% 0 20%;
        border-radius: 10px;
        margin: 10px;
    }
}



.head2 {
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;
    align-items: center;
    background-color: rgba(161, 163, 165, 0.875);

}


.head2 ul {
    display: flex;
}

.head2 a {
    color: black;
    font-weight: 600;
    padding: 10px;
    /* font-size: larger; */
    /* margin-left:15px; */
}

.head2 ul li :hover {
    color: red;
}

.head2 ul li:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
}

.head2 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

.search button:hover {
    background-color: brown;
}

.head2 img {

    padding: 10px;
    border-radius: 5px;
}

.head2 img:hover {
    transform: scale(1.2);
    transition: 0.3s ease;

}




.head2 select,
select:hover {
    background-color: aliceblue;
}

.head2 select,
select:focus {
    outline: none;
    border: none;
    padding-left: 20px;
    background-color: aliceblue;
}


#header1 {
    height: 40px;
}

.head2 input,
button {
    border: none;
    padding: 0px 20px 0 20px;
    background-color: transparent;

}

.head2 button {
    border-left: 2px solid rgb(40, 39, 39);
}

.head2 input:focus {
    outline: none;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(40, 39, 39);
    border-radius: 5px;
    background-color: aliceblue;

}

.search:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}


.slid {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

.slider {
    position: relative;
    width: 95%;
    margin: 1em;
    height: 90vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slide.active {
    opacity: 1;
}
@media (max-width: 768px) {
    
.slider {
    height: 25vh;
}
}
.uslogan{
    display: flex;
    justify-content: center;
    background-color: rgb(227, 31, 31);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.slogan{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 95vw;
    margin-top: 1em;
    background-color:  #f4f4f4;
    padding-bottom: 0.3em;
    font-size: 1.8em;
    text-align: center;
    border-top: solid 2px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

@media (max-width: 768px) {
    .slogan{
        margin-top: 0.5em;
        font-size: 1.35em;
    }
    
}




.sell {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.sell1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.card {
    position: relative;
    width: 12em;
    margin: 1em;
    margin-top: 2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.card img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.card-image {
    width: 100%;
    height: auto;
    display: block;
}

.card-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.616);
    color: #fff;
    padding-bottom: 10px;
    /* box-sizing: border-box; */
}
.card-text:hover{
    background-color: #000000;
}

.card-text h3 {
    margin: 0;
    font-size: 1.5em;
}

.card-text p {
    margin: 10px 0 0;
    font-size: 1em;
}

@media (max-width: 768px) {
    .sell1 {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.1em;
    }
    .card {
        width: 11em;
        height: 13.8em;
    }
    .card-text {  
        padding: 15px;
        
    }
    
    .card-text h3 {
        margin: 0;
        font-size: 0.9em;
    }
    
    .card-text p {
        margin: 10px 0 0;
        font-size: 0.5em;
    }
    
    
}

@media (max-width: 480px) {
    .sell1 {
        margin-top: 1em;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5em;
    }
    .card {
        width: 6.5em;
        height: 9.3em;
        margin: 0px;
    }
    .card-text {
        padding: 4px;
    }
    
    .card-text h3 {
        margin: 0;
        font-size: 0.6em;
    }
    
    .card-text p {
        margin: 10px 0 0;
        font-size: 0.3em;
    }
}
.scrolling-text1 {
    margin:4em 6em 0em 6em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    background-color: #f40101d2;
    border-radius: 10px;
}

.marquee1 {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.marquee-inner1 {
    display: flex;
    width: 200%;
    animation: marquee 10s linear infinite;
}

.marquee-inner1 span {
    width: 50%;
    font-size: 2.5em;
    color: white;
    flex-shrink: 0;
}

@media (max-width:768px) {
    .scrolling-text1 {
        margin:1.3em 3.6em 0em 3.6em;
        padding: 0.5em;
    }    
    .marquee-inner1 {
        animation: marquee 5s linear infinite;
    }
    .marquee-inner1 span {
        font-size: 2.7em;
        color: white;
        flex-shrink: 0;
    }   
}
@media (max-width: 480px) {
    .scrolling-text1 {
        margin:1.3em 1.6em 0em 1.6em;
        padding: 0.5em;
    }    
    .marquee-inner1 {
        animation: marquee 5s linear infinite;
    }
    .marquee-inner1 span {
        font-size: 1.2em;
        color: white;
        flex-shrink: 0;
    }  
}



.sold {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sold1 {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2em;
    gap: 3em;

}

.card1 img {
    border: 2px solid #262626;
    transition: 0.3s ease-out;
}
.card1 img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.card1 {
    width: 16em;
    height: 21em;

    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    text-align: center;
    transition: 0.3s ease-out;
}
.card1:hover{
    transform: scale(1.03);
    transition: 0.3s ease-in;
}

.card-text1 {
    padding: 15px;
    border-bottom: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-text1:hover {
    background-color: #ccc;
}

.card-text1 h3 {
    margin: 0;
    font-size: 1.5em;
}


#price {
    text-decoration: line-through;
}
@media (max-width: 768px) {  
    .sold1 {
        grid-template-columns: repeat(2, 1fr);
        margin: 1.5em;
        gap: 3em;
    
    }
    .card1 {
        width: 18em;
        height: 22.6em;
    }
    
    
    .card-text1 {
        padding: 10px;
    }
    
    
    .card-text1 h3 {
        margin: 0;
        font-size: 1.5em;
    }
    .card-text1 p {
        margin: 0;
        font-size: 1.1em;
    }
    
}

@media (max-width: 480px) {
    .sold1 {
        grid-template-columns: repeat(2, 1fr);
        margin: 0.7em;
        gap: 2.2em;
    }
    .card1 {
        width: 9.8em;
        height: 12.7em;
    }
    .card-text1 {
        padding: 7px;
    }
    .card-text1 h3 {
        margin: 0;
        font-size: 0.8em;
    }
    .card-text1 p {
        margin: 0;
        font-size: 0.55em;
    }
}

.heading{
    font-size: 4em;
    color: #f10f0f;
    text-align: center;
    font-weight: bold;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.6);
}

.roundcardmain{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    justify-content:center;
    align-items: center;
    margin: 3em 10em 0 10em;
    
}
.roundcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rdcard {
    width: 7em;
    height: 7em;
    border: 4px solid #ff5500;
    border-radius: 100px;
    overflow: hidden;
   
  
}
.rdcard video{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.rdcard-text {
    padding: 15px;
}

.rdcard-text h3 {
    margin: 0;
    font-size:1em;
    text-align: center;
}




.vediomain {
    position: relative;
    width: 100%;
}

.vediomain video {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
@media (max-width: 768px) {  
    .vediomain {
        position: relative;
       width: 100%;
    }
    .vediomain video {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .vediomain {
        width: 100%;
    }
    .vediomain video {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
}

.video-text{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45%;
    font-size: 30px;
    color: #000000;

}

.scrolling-text {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.marquee-inner {
    display: flex;
    width: 70%;
    animation: marquee 10s linear infinite;
}

.marquee-inner span {
    width: 50%;
    font-size: 1.5em;
    flex-shrink: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .marquee-inner {
        animation: marquee 15s linear infinite;
    }
}

@media (max-width: 480px) {
    .marquee-inner {
        animation: marquee 20s linear infinite;
    }
}


.containercard2{

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f4f4f4; */
    margin: 0 3em 0 3em;
}

.bodycard2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2em;
}
.card2:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}


.card2 {
    position: relative;  
    margin-top: 2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    transition: 0.3s ease-in-out;
}


.card-text2 {
    position: relative;
    width: 100%;
  
    background: rgba(0, 0, 0, 0.489);
    color: #fff;
    padding-bottom: 10px;
    transition: .2s;
    
}
.card-text2:hover{
    background-color: #000000bb;
    transition: .2s;
}

.card-text2 h3 {
    margin: 0;
    font-size: 1.5em;
}

.card-text2 p {
    margin: 10px 0 0;
    font-size: 1em;
}
.card-text2 button{
background-color: #000000;
padding: 4% 25% 4% 25% ;
border-radius: 5px;
color: #f0f0f0;
box-shadow: 0 1px 1px rgb(255, 255, 255);

transition: .2s;
}
.card-text2 button:hover{
    background-color: #f10f0f;
    transition: .2s;
}


.heading1{
    font-size: 8em;
    text-align: center;

}

.card2 {
    position: relative;
    width: 100%;
}

.card2 video {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}


#copyright {
    text-align: center;
}

footer {
    background-color: rgb(34, 34, 34);
    color: white;
}

.foot {
    display: flex;
    justify-content: center;
    margin: auto;
}

.foot1 h5 {
    text-align: center;
    font-size: larger;
    margin-bottom: 10px;
}

.foot1 {
    width: 25%;
    margin: 2em;
    padding: 2em;
}

#foot1 {
    text-align: center;
}

footer p,
li,
a {
    margin: 3px;
    color: rgb(179, 183, 186);
    list-style: none;
    text-decoration: none;
}

#foot1:hover {
    color: brown;
}

#foot1 a:hover {
    color: brown;
}

#foot2:hover {
    color: brown;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .foot {
        flex-direction: column;
        align-items: center;
    }
    .foot1 {
        margin: 10px 0;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .foot1 {
        width: 80%;
        margin: 2em;
        padding: 2em;
    }

    .foot1 h5 {
        font-size: 16px;
    }

    .foot1 p,
    .foot1 ul,
    .foot1 li {
        font-size: 12px;
    }

    #copyright {
        font-size: 12px;
    }
}

